<header class="app-header navbar">

  <!-- for mobile -->
  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>
    <span class="navbar-toggler-icon  button1234"></span>
  </button>

  <a class=" nav navbar-nav logo1">
    <b> QR CODE </b>
  </a>

  <!-- for desktop -->
  <button class="navbar-toggler d-md-down-none button12" type="button" appSidebarToggler *ngIf="navtoggle">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="nav navbar-nav navbar1 d-md-down-none ">
    <li class="nav-item px-3">
      <a class="nav-link " [routerLink]="['/home']">
        <b>Home</b>
      </a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" [routerLink]="['/features']">
        <b>Features</b>
      </a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" [routerLink]="['/pricing']">
        <b>Pricing</b>
      </a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" [routerLink]="['/help']">
        <b>Help</b>
      </a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" [routerLink]="['/blog']">
        <b>Blog</b>
      </a>
    </li>
    <li class="nav-item px-3">
      <!-- <a class="nav-link" href="#">Users</a> -->
    </li>
    <li class="nav-item px-3">
      <!-- <a class="nav-link" href="#">Settings</a> -->
    </li>
    <!-- <li class="nav-item px-3">
      <a style="margin-top:-5px;" [routerLink]="['/dynamicdata',id]" class="nav-link">Dynamic data</a>

    </li> -->
    <li class="nav-item px-3">
  </ul>
  <ul class="nav navbar-nav ml-auto ">
    <li class="nav-item d-md-down-none">
      <a class="nav-link" href="#" *ngIf="navtoggle">
        <i class="icon-bell"></i>
        <span class="badge badge-pill badge-danger">5</span>
      </a>
    </li>
    <li class="nav-item" style="padding-right:15px;">
      <a class="nav-link" href="#" style="color:black;">
        <b>{{username}} </b>
      </a>
    </li>

    <li class="nav-item" *ngIf="myqrrcode">
      <!-- <a class="nav-link" href="/myqrcode" style="color:black;"><b>myqrcode</b></a> -->
      <button type="button" class="btn btn-sm btn-primary btnsign" (click)="myqrcode()" style="margin-top:2px;margin-right:15px;">My QR-Code</button>
    </li>

    <li class="nav-item" *ngIf="signin">
      <!-- <a class="nav-link" href="/#/pages/login" style="color:black;"><b>Login</b></a> -->
      <button type="button" class="btn btn-sm btn-primary btnsign" (click)="login()" style="margin-top:2px;margin-right:15px;">Sign In</button>
    </li>

    <li class="nav-item dropdown" dropdown placement="bottom right" *ngIf="signout">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle
        (click)="false">
        <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com" />
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center">
          <strong>Account</strong>
        </div>
        <a class="dropdown-item" href="#">
          <i class="fa fa-bell-o"></i> Updates
          <span class="badge badge-info">42</span>
        </a>
        <a class="dropdown-item" href="#">
          <i class="fa fa-envelope-o"></i> Messages
          <span class="badge badge-success">42</span>
        </a>
        <a class="dropdown-item" href="#">
          <i class="fa fa-tasks"></i> Tasks
          <span class="badge badge-danger">42</span>
        </a>
        <a class="dropdown-item" href="#">
          <i class="fa fa-comments"></i> Comment
          <span class="badge badge-warning">42</span>
        </a>
        <div class="dropdown-header text-center">
          <strong>Settings</strong>
        </div>
        <a class="dropdown-item" href="/#/profile">
          <i class="fa fa-user"></i> Profile</a>
        <a class="dropdown-item" href="#">
          <i class="fa fa-wrench"></i> Setting</a>
        <a class="dropdown-item" href="/#/payment">
          <i class="fa fa-usd"></i> Payments
          <span class="badge badge-dark">42</span>
        </a>
        <!-- <a class="dropdown-item" href="#">
          <i class="fa fa-file"></i> Projects
          <span class="badge badge-primary">42</span>
        </a> -->
        <div class="divider"></div>
        <!-- <a class="dropdown-item" href="#">
          <i class="fa fa-shield"></i> Lock account</a> -->
        <a href="#" class="dropdown-item" (click)="logout()">
          <i class="fa fa-lock"></i> Logout</a>
      </div>
    </li>
    <button class="navbar-toggler visible-xs visible-sm" type="button" appAsideMenuToggler>
      <span class="navbar-toggler-icon"></span>
    </button>
  </ul>
</header>