<!--Dynamic data-->
<!-- <div *ngIf="mydatasection"> -->
<div>
  <div class="row" style="margin-top:10px;">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">

      <h3 style="background-color: #3c1e1ec2;color:white;padding-left:18px;">My Dynamic Codes
      </h3>

    </div>
    <div class="col-sm-3"></div>
  </div>
  <br>
  <div class="row" *ngFor="let item of items">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div class="row">
        <div id="wrapper" #wrapper class="col-sm-4">
          <div id="print-section">
            <qr-code style="margin-left: 15px;" [value]="item.path" [size]="110" #qrcode>
              <a style="margin-top:-5px;"  [routerLink]="['/dynamicdata',item.id]" ></a>
            </qr-code>
          </div>
          <br>
          <button type="button" class="btn btn-sm btn-primary" style="width:50px;height:21px;">
            <p style="margin-top:-5px;" (click)="DownloadQRCodeAsJPG(item.id)">JPG</p>
          </button>
          <button type="button" class="btn btn-sm btn-primary" style="width:50px;height: 21px;">
            <p style="margin-top:-5px;" (click)="DownloadQRCodeAsEPS()">EPS</p>
          </button>
          <button type="button" class="btn btn-sm btn-primary" style="width:50px;height: 21px;">
            <p style="margin-top:-5px;" (click)="DownloadQRCodeAsPDF()">PDF</p>
          </button>
          <button type="button" class="btn btn-sm btn-primary" style="width:50px;height: 21px;">
            <p style="margin-top:-5px;" (click)="printcode()">Print</p>
          </button>
          <!-- <a style="margin-top:-5px;"  [routerLink]="['/dashboard', item.id]" (click)="sendid(item.id)" class="nav-link" href="/dashboard" >Analytics</a> -->

          <a style="margin-top:-5px;" [routerLink]="['/dashboard', item.id]" class="nav-link">Analytics</a>
        </div>
        <div class="col-sm-8 Download">
          <div class="row">
            <div class="col-sm-4">
              <label>{{item.generateddate | date }}</label>
            </div>
            <div class="col-sm-4">
              <!-- <p style="font-size: 25px;">{{item.name}}
                  <p style="font-size: 25px;">
                <!-- <button *ngIf="item.qrtype=='contact'" type="button" class="btn btn-primary" data-toggle="modal" (click)="Editcontact(item.id)"
                  (click)="contactModal.show()" style="margin-left:5px;">Edit Contact</button> -->
              <!-- </p>  -->
            </div>
            <div class="col-sm-4"><b>QRtype: {{item.qrtype}}</b>
              <p style="color: rgb(78, 70, 72);">{{item.urldata}}</p>
              <a *ngIf = "item.qrstatus" style="margin-top:-5px;" [routerLink]="['/dynamicdata',item.id]" class="nav-link" >
                <p style="color: green;">{{item.path}} </p>

              </a>
              <button *ngIf="item.qrtype=='url'" type="button" class="btn btn-primary" data-toggle="modal" (click)="Editurl(item.id)"
                (click)="urlModal.show()" style="margin-left:5px;">Edit URL</button>
                <button *ngIf="item.qrtype=='contact'" type="button" class="btn btn-primary" data-toggle="modal" (click)="Editcontact(item.id)"
                (click)="contactModal.show()" style="margin-left:5px;">Edit Contact</button>
              <button *ngIf="item.qrtype=='Coupon'" type="button" class="btn btn-primary" data-toggle="modal" style="margin-left:5px;">Edit Coupon</button>
            </div>
          </div>
        </div>
      </div>
      <hr style="border:1px solid black;margin-top:4px;width:94%;">
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>

<!-- edit url -->
<div bsModal #urlModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="close" (click)="urlModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <input type="text" [(ngModel)]="eurl" class="form-control">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="urlModal.hide()">Close</button>
        <button type="button" class="btn btn-primary" (click)="updateurl()">Save changes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>