<!--Dynamic data-->
<div *ngIf="mydatasection">
  <div class="row" style="margin-top:10px;">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">

      <h3 style="background-color: #3c1e1ec2;color:white;padding-left:18px;">My Static Codes
      </h3>

    </div>
    <div class="col-sm-3"></div>
  </div>
  <br>
  <div class="row" *ngFor="let item of items">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div class="row">
        <div id="wrapper" #wrapper class="col-sm-4">
          <qr-code style="margin-left: 15px;" [value]="item.path" [size]="110" #qrcode></qr-code>
          <br>
          <button type="button" class="btn btn-sm btn-primary" style="margin-left: 18px;width: 74px;height: 21px;" (click)="DownloadQRCode(item.id)">
            <p style="margin-top:-5px;">Download</p>
          </button>
        </div>
        <div class="col-sm-8 Download">
          <div class="row">
            <div class="col-sm-4">
              <!--<label>{{item.generateddate | date }}</label>-->
            </div>
            <div class="col-sm-4">
              <p style="font-size: 25px;">{{item.name}}
                
              </p>
            </div>
            <div class="col-sm-4">
              <p style="color: green;">{{item.path}}
               
              </p>
            </div>
          </div>
        </div>
      </div>
      <hr style="border:1px solid black;margin-top:4px;width:94%;">
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>
