<aside class="aside-menu">
  
     
      
     
      <!-- <div class="callout callout-warning m-0 py-3">
        
        <div>Meeting with <strong>Lucas</strong></div>
        
      </div>
      <hr class="mx-3 my-0">
      <div class="callout callout-info m-0 py-3">
       
        <div>Skype with <strong>Megan</strong></div>
        
      </div>
      
      
      <hr class="transparent mx-3 my-0">
      <div class="callout callout-danger m-0 py-3">
        <div>New UI Project - <strong>deadline</strong></div>
        
        
      </div>
      <hr class="mx-3 my-0">
      <div class="callout callout-success m-0 py-3">
        <div><strong>#10 Startups.Garden</strong> Meetup</div>
        
      </div>
      <hr class="mx-3 my-0">
      <div class="callout callout-primary m-0 py-3">
        <div><strong>Team meeting</strong></div>
        
       
      </div> -->
      <hr class="mx-3 my-0">



      <ul class="nav navbar-nav navbar1  ">
        <li class="nav-item px-3">
          <a class="nav-link " href="/home"><b>Home</b></a>
        </li><hr class="mx-3 my-0">
        <li class="nav-item px-3">
          <a class="nav-link" href="/features"><b>Features</b></a>
        </li><hr class="mx-3 my-0">
        <li class="nav-item px-3">
          <a class="nav-link" href="/pricing"><b>Pricing</b></a>
        </li><hr class="mx-3 my-0">
        <li class="nav-item px-3">
          <a class="nav-link" href="/help"><b>Help</b></a>
        </li><hr class="mx-3 my-0">
        <li class="nav-item px-3">
          <a class="nav-link" href="/blog"><b>Blog</b></a>
        </li><hr class="mx-3 my-0">
        <li class="nav-item px-3">
          <!-- <a class="nav-link" href="#">Users</a> -->
        </li><hr class="mx-3 my-0">
        <li class="nav-item px-3">
          <!-- <a class="nav-link" href="#">Settings</a> -->
        </li>
      </ul>
    
   
</aside>
